{% extends 'admin/base.html.twig' %}

{% block title %}Administration - Commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Administration des commentaires</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                    <th>Annonce</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in pagination.data %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.createdAt|date('d/m/Y H:i') }}</td>
                        <td class="text-center"><img src="{{ comment.author.picture }}" alt="Avatar de {{ comment.author.fullName }}" class="avatar avatar-mini center"><hr>{{ comment.author.fullName }}</td>
                        <td>{{ comment.content }}</td>
                        <td class="text-center"><span class="badge badge-dark rounded">{{ comment.rating }}</span></td>
                        <td>{{ comment.ad.title }}</td>
                        <td class="text-center">
                            <a href="{{path('admin_comment_edit', {'id': comment.id})}}" class="btn btn-primary mt-2"><i class="fas fa-pen"></i></a>
                            <a href="{{path('admin_comment_delete', {'id': comment.id})}}" class="btn btn-danger mt-2"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ pagination.display }}
    </div>
{% endblock %}
